.debug [class*="col-"] {
    border: 1px solid #000;
 }

body {
  font-family: 'Montserrat', sans-serif;
  color: #031B4E;
}

/* UTILITIES */
.container,
.row,
[class*="col-"] {
  height: 100%;
}

:focus {
  outline: 0;
}

.img100 {
  width: 100%;
}

.wrapper90 {
  width: 90%;
  margin: 0 auto;
}

.arrow_down::after {
  content: "\f107";
  font-family: "FontAwesome";
  padding-left: 3px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

h1 {
  font-size: 3em;
  color: #fff;
}

h2.title {
  font-size: 2.3em;
  text-align: center;
}

p.subtitle {
  font-size: 1.3em;
  text-align: center;
  font-weight: 500;
  color: #806987;
  margin-bottom: 50px;
}

ul {
  list-style: none;
}
/* /UTILITIES */

/* HEADER */
/* navbar */
header > #navbar {
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  box-shadow: 0px 9px 17px -15px #000000;
}

#navbar .logo_container {
  display: block;
  width: 120px;
}

#navbar .ms_hamburger {
  color: #006AFF;
}

#navbar ul.list-inline li a {
  margin: 0 2px;
  font-weight: 600;
  color: inherit;
}
#navbar ul.list-inline li a:hover {
  text-decoration: none;
  color: #006AFF;
}

#navbar ul.list-inline li a.btn_signUp {
  color: #006AFF;
  border: 1px solid #006AFF;
}
#navbar li a.btn_signUp:hover {
  animation: btn_signUp 0.3s forwards;
}
/* /navbar */

/* jumbotron */
header #jumbotron {
  padding: 50px 0;
  margin-top: 60px;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-repeat: repeat;
  background-size: cover;
  background-position: bottom;
}

#jumbotron .subtitle {
  color: #BBCCFF;
  text-align: left;
}

#jumbotron .signUp_card {
  max-width: 320px;
  padding: 15px;
  border-radius: 7px;
  background: #fff;
  margin: 0 auto;
}
#jumbotron .signUp_card h3 {
  color:  #006AFF;
}

.signUp_card .btn_create_account {
  font-weight: 600;
  color: #fff;
  background: #579AFF;
}
.signUp_card .btn_create_account:hover {
  animation: btn_create_account 0.3s forwards;
}

.signUp_card .btn_google {
  position: relative;
  font-weight: bold;
  background: #fff;
  color: #626262;
  border: 1px solid #626262;
}
.signUp_card .btn_google:hover {
  animation: btn_google 0.3s forwards;
}
.signUp_card .btn_google::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url("../img/google-logo.png");
  background-size: contain;
  margin-right: 15px;
}

.signUp_card .terms_of_service {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  margin-top: 16px;
}
/* /jumbotron */
/* /HEADER */

/* MAIN */
/* brands */
main #brands {
  padding: 40px 0;
  background: #F3F5F9;
}

#brands > h6 {
  font-size: 14px;
  color: #5B6987;
}

#brands .brands_item_container::after {
  content: "";
  display: table;
  clear: both;
}

#brands .brands_item {
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  width: calc(100% / 2 - 20px);
  float: left;
}
.brands_item > img {
  width: 140px;
  vertical-align: middle;
}

#brands > .customer_link {
  font-weight: 600;
}
#brands > .customer_link::after {
  content: "\f105";
  font-family: "FontAwesome";
  padding-left: 7px;
  vertical-align: middle;
}
#brands > .customer_link:hover {
  text-decoration: none;
  color: #1633FF;
}
/* /brands */

/* deploy */
main #deploy {
  padding: 50px 0;
}

#deploy ul {
  padding-left: 20px;
  margin: 30px 0;
}

#deploy ul li  {
  height: 50px;
  line-height: 50px;
}

#deploy ul li > a {
  display: inline-block;
  height: 100%;
  font-size: 18px;
  padding-left: 10px;
  font-weight: 600;
  color: #806987;
  border-left: 2px solid #bec0c3;
}
#deploy ul li > a.list_item_selected {
  color: inherit;
  border-left-color: #016AFF;
}
#deploy ul li > a:hover {
  color: inherit;
  border-left-color: #016AFF;
  text-decoration: none;
}

#deploy .deploy_item {
  margin: 30px 0;
}

#deploy .deploy_item h6 {
  font-size: 17px;
  padding-top: 10px;
}
#deploy .deploy_item p {
  font-size: 15px;
  font-weight: 500;
  color: #806987;
}
/* /deploy */


/* /MAIN */



/* MEDIA QUERIES */

/* dispositivi SM */
@media screen and (min-width: 768px) {

  #brands .brands_item > img {
      width: 175px;
  }

  #deploy ul {
    padding-left: 0;
  }

  #deploy .deploy_item  {
    padding-right: 15px;
  }

}
/* /dispositivi SM */


/* dispositivi MD */
@media screen and (min-width: 992px) {

  #navbar .logo_container {
    width: 180px;
  }

  #jumbotron .signUp_card {
    max-width: 400px;
  }

  #jumbotron .signUp_card h3 {
    font-size: 29px
  }


  #brands .brands_item_container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
  }

  #brands .brands_item {
    width: calc(100% / 6 - 20px);
    height: 110px;
    line-height: 110px;
  }
  #brands .brands_item > img {
    width: 125px;
  }


}
/* /dispositivi MD */

/* /MEDIA QUERIES */


/* KEYFRAMES */
@keyframes btn_signUp {
  0% {
    color: #006AFF;
    background: #fff;
  }
  100% {
    color: #fff;
    background: #006AFF;
  }
}

@keyframes btn_create_account {
  0% {
    background:  #579AFF;
  }
  100% {
    background: #006AFF;
  }
}

@keyframes btn_google {
  0% {
    color: #626262;
    border: 1px solid #626262;
  }
  100% {
    color: #000;
    border: 1px solid #000;
  }
}
/* /KEYFRAMES */
